<div class="form-container">
<h1> Log In </h1>

<% if flash[:errors] %>
    <%= flash[:errors]%><br>
    <% end %>
    
  <%= form_for :session, url: login_path do |f| %>
    <div class="form-input">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="form-input">
        <%= f.label :password %>
        <%= f.text_field :password %>
    </div>

    <%= f.submit class: "form-btn" %>
    
  <% end %>

</div>