<h1> Sign Up For An Event Here! </h1>
You must choose an event, time, and the number of people in your party who would like to participate. 
Please do not sign up more than 4 people for an event.



<%= form_for @signup do |f| %>
  <h3>  <%= f.label :event_id %>
    <%= f.collection_select :event_id, Event.all, :id, :title %>
    <br>
    <br>
    <%= f.label :number_of_people%>
    <%= f.number_field :number_of_people %>
    <br>
    <br>
    <%= f.submit "Signup!" %>
    <% end %>